html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: $cafeClaro;
    font-family: $fuenteSecundaria;
    font-size: 1.6rem;
}
p {
    color: $negro;
    font-size: 1.6rem;
    line-height: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
a {
    text-decoration: none;
    color: $negro;
}
img {
    max-width: 100%;
    display: block;
}
h1, h2, h3 {
    margin: 0 0 $separacion 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.2rem;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}