// fuentes
$fuentePrincipal : 'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;


// Media queries
$telefono: 480px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1024px;


// colores
$primario: #5E211E;
$secundario: #C39C63;
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

// unidades
$separacion: 5rem;