.separacion {
    padding-bottom: 0
}
.contenido-menu {

    @include tablet {
        @include grid( 2, 5rem );
        align-items: center;
    }

    .texto {
        p {
            font-size: 2rem;
            line-height: 1.5;
        }
    }
}